{% extends 'index.html' %}
{% load i18n %}
{% block title %}
    {% trans "Восстановление пароля" %} {{ block.super }}
{% endblock %}
{% block content %}
<div class="center container-fluid restor-password" data-restode-pswd-done="{% url 'api-users:profile:account-restore-done' %}"
     id="restorePasswordDone">
    <h1>{% trans "Восстановление пароля" %}</h1>
    <div class="row justify-content-center">
        <div class="col-12 col-sm-6 d-flex justify-content-center align-items-center">

            <div class="updprof-error" style="color: green" hidden="">{% trans "Пароль успешно обновлён" %}</div>
            <div class="form form-size" id="formRestorePasw">
                <span class="error" id="resetPasswordError"></span>
                <input type="password" id="resetPasswordNew" placeholder="{% trans 'Новый пароль' %}">
                <span class="error" id="resetPasswordConfirmError"></span>
                <input type="password" id="resetPasswordConfirm"
                       placeholder="{% trans 'Подтверждение нового пароля' %}">
                <input type="submit" name="restore-password-done" value="{% trans 'Сохранить' %}" class="btn"
                       id="restore-password-done">
            </div>
            <div hidden="" id="restoreSuccess">
                    <h3 style="color: green">{% trans " Пароль успешно восстановлен" %}</h3>
                    <a href="{% url 'auth:login' %}" class="btn">{% trans 'Войти' %}</a>
                </div>
        </div>
    </div>
</div>
{% endblock %}
