
<ul class="navbar-nav mr-auto">
    <li class="nav-item dropdown">
        <a class="burger__menu-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Список уроков
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <ul>
            {% for lesson in lessons %}
                <li>
                    <a href="{% url 'courses:single_lesson' lesson.id %}" class="burger__menu-link" style="margin-left:30px;">{{ lesson.name }}</a>
                </li>
            {% endfor %}
            </ul>
        </div>
    </li>
</ul>