
<div class="card text-left width-to-media">
    {% if block.image %}
        <img src="{{ block.image.url }}" class="card-img-top" alt="picture"/>
{#    {% load thumbnail %}#}
{#      {% thumbnail block.image '960' crop='center' upscale=True as im %}#}
{#        <img class="card-img-left example-card-img-responsive" src='{{ im.url }}' alt=course_name>#}
{#      {% endthumbnail %}#}
    {% endif %}
  <div class="card-body width-to-media light_green_background">
    <p>{{ block.text|safe|linebreaks }}</p>
  </div>
</div>