

    <div class="card">
        {% if lesson.can_see %}
            {% load thumbnail %}
{#            {% thumbnail lesson.cover '320x320' crop='center' upscale=True as im %}#}
{#                <img class='card-img' src='{{ im.url }}' alt="{{ course_name }}">#}
{#            {% endthumbnail %}#}
            <img src="{{ lesson.cover.url }}" class="card-img-top image_style" />
          <div class="card-body">
            <a href="{% url 'courses:single_lesson' lesson.id %}" class="green-grey-button">ПЕРЕЙТИ К УРОКУ</a>
          </div>
        {% else %}
{#            {% thumbnail lesson.cover_blocked '320x320' crop='center' upscale=True as im %}#}
{#                <img class='card-img' src='{{ im.url }}' alt="{{ course_name }}">#}
{#            {% endthumbnail %}#}
            <img src="{{ lesson.cover_blocked.url }}" class="card-img-top image_style" />
            <div class="card-body">
            <a href="{% url 'orders:create' %}?course_id={{ course_id }}" class="green-grey-button-disable">КУПИТЬ КУРС</a>
          </div>
        {% endif %}
    </div>
