@import "variables";

.change-password {
  display: flex;
  position: fixed;
  top: 0;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
  background: transparent;
  z-index: 1000;
  overflow-y: auto;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;

  &.active {
    visibility: visible;
    opacity: 1;
  }

  &__wrapper {
    position: relative;
    width: 100%;
    margin: auto;
  }

  &__content {
    position: relative;
    width: 430px;
    padding: 60px 60px 86px;
    background: #fff;
  }

  &__title {
    display: block;
    margin-bottom: 60px;
    font-size: $font-size-12;
    line-height: $line-height-16;
    text-transform: uppercase;
    color: #000000;
  }

  &__btn {
    width: 100%;
  }
}


@media screen and (max-width: 767px) {

  .change-password {

    &__content {
      width: 320px;
      padding: 50px 25px;
    }

    &__title {
      margin-bottom: 45px;
    }
  }
}