@import "variables";

@-webkit-keyframes ckeleton_opacity {
  0% {
    opacity: 0.45;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.45;
  }
}

@keyframes ckeleton_opacity {
  0% {
    opacity: 0.45;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.45;
  }
}

.ckeleton {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 4px;

  &_results {
    padding-top: 0;
  }

  &_category {

    & .ckeleton__card {
      height: 44vw;
      width: 33.3%;
    }
  }

  &__card {
    position: relative;
    width: 25%;
    height: 37.8vw;
    padding: 0 2px;
    animation: ckeleton_opacity 2s ease;
    animation-iteration-count: infinite;
    opacity: 0;

    &:empty::after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;

      background-image:
              linear-gradient(rgb(243, 243, 243) 100%, transparent 0),                          /* title */
              linear-gradient(rgb(243, 243, 243) 100%, transparent 0),                          /* desc1 */
              linear-gradient(rgb(243, 243, 243) 100%, transparent 0),                          /*img*/
              linear-gradient(white 100%, transparent 0)                                        /*card*/
    ;

      background-size:
              calc(100% - 86px) 22px,
              75% 20px,
              100% calc(100% - 122px),
              100% 100%
    ;

      background-position:
              18px calc(100% - 80px),               /* title */
              18px calc(100% - 50px),               /* desc1 */
              0 0,                                  /*img*/
              0 0                                   /*card*/
    ;

      background-repeat: no-repeat;
    }
  }
}


@media screen and (max-width: 991px) {

  .ckeleton {
    padding-top: 10px;

    &__card,
    &_category .ckeleton__card {
      width: 50%;
      height: 78.5vw;
    }

    &__card {
      &:empty::after {
        background-image:
                linear-gradient(rgb(243, 243, 243) 100%, transparent 0),                          /* title */
                linear-gradient(rgb(243, 243, 243) 100%, transparent 0),                          /* desc1 */
                linear-gradient(rgb(243, 243, 243) 100%, transparent 0),                          /*color*/
                linear-gradient(rgb(243, 243, 243) 100%, transparent 0),                          /*img*/
                linear-gradient(white 100%, transparent 0)                                        /*card*/
      ;

        background-size:
                calc(100% - 26px) 20px,
                65% 16px,
                55% 14px,
                100% calc(100% - 122px),
                100% 100%
      ;

        background-position:
                13px calc(100% - 82px),    /* title */
                13px calc(100% - 54px),    /* desc1 */
                13px calc(100% - 28px),    /* color */
                0 0,                       /*img*/
                0 0                        /*card*/
      ;
      }
    }
  }
}


@media screen and (max-width: 767px) and (orientation:landscape) {
  .ckeleton {

    &__card,
    &_category .ckeleton__card {
      height: 85vw;
    }
  }
}


@media screen and (max-width: 500px) {

  .ckeleton {

    &__card,
    &_category .ckeleton__card {
      padding: 0 2.5px;
      height: 102vw;
    }
  }
}