@import "variables";

@keyframes twister {
  99% {
    opacity: 0.15;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
    z-index: 1;
  }
}

.emblem {

  &-animate {
    div {

      &:not(:nth-of-type(1)) {
        position: relative;
        z-index: -1;
        opacity: 0;
        transform: translateX(-50px);
      }
    }

    &.active {
      div {
        &:not(:nth-of-type(1)) {
          animation: twister .36s ease-in-out forwards;
        }

        &:nth-of-type(2) {
          animation-delay: .05s;
        }
        &:nth-of-type(3) {
          animation-delay: .1s;
        }
        &:nth-of-type(4) {
          animation-delay: .15s;
        }
        &:nth-of-type(5) {
          animation-delay: .2s;
        }
        &:nth-of-type(6) {
          animation-delay: .25s;
        }
        &:nth-of-type(7) {
          animation-delay: .3s;
        }
        &:nth-of-type(8) {
          animation-delay: .35s;
        }
        &:nth-of-type(9) {
          animation-delay: .4s;
        }
        &:nth-of-type(10) {
          animation-delay: .45s;
        }
      }
    }
  }
}