.n-container {
  padding: 0 26px;

  &-simple {
    width: 83.3%;
    margin: 0 auto;
  }
}

.n-main-container {
  padding-right: 40px;
  padding-left: 40px;
}

@media screen and (min-width: 1281px) {

  .n-container-desktop {
    .n-container {
      padding-left: 142px;
      padding-right: 142px;
    }
  }
}

@media screen and (max-width: 991px) {

  .n-container {

    &_care {
      overflow-x: hidden;
    }

    &-simple {
      width: 100%;
    }
  }

  .n-main-container {
    padding-right: 34px;
    padding-left: 34px;
  }
}


@media screen and (min-width: 768px) and (max-width: 991px) {

  .n-container {
    padding-right: 16px;
    padding-left: 16px;
  }
}


@media screen and (max-width: 767px) {

  .n-container {
    padding-right: 0;
    padding-left: 0;
  }

  .n-main-container {
    padding-right: 16px;
    padding-left: 16px;
  }
}