@import "variables";

.profile {

  &__bg {
    position: relative;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    background-color: black;
  }

  &__username {
    position: relative;
    height: 300px;
    padding: 30px 0 80px 0;
  }

  &__logout {
    font-size: $font-size-12;
    line-height: $line-height-16;
    text-transform: uppercase;
    color: #fff;
  }

  &__name {
    font-size: $font-size-12;
    line-height: $line-height-16;
    text-transform: uppercase;
    color: #fff;

    &::before {
      content: "";
      display: block;
      width: 20px;
      margin-top: 12px;
      margin-bottom: 24px;
      border-bottom: 1px solid #E0E0E0;
    }
  }

  &__menu-box {
    position: absolute;
    bottom: 0;
    left: 0;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -157px;
      width: 100vw;
      height: 100%;
      -webkit-backdrop-filter: blur(4px);
      backdrop-filter: blur(4px);
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
    }
  }

  &__menu {

    &-item {

      &:not(:first-child) {
        padding-left: 20px;
      }

      &:not(:last-child) {
        padding-right: 20px;
      }

      &.active {
        & .profile__menu-link {
          color: #BDBDBD;
        }
      }
    }

    &-link {
      display: block;
      padding: 30px 0;
      font-size: $font-size-12;
      line-height: $line-height-16;
      text-transform: uppercase;
      color: #FFFFFF;
      list-style: none;
    }
  }

  &__content {
    padding-top: 60px;
    padding-bottom: 100px;

    & .row::before,
    & .row::after {
      display: none;
    }
  }

  &__title {
    padding: 0 0 45px;
    font-size: $font-size-12;
    line-height: $line-height-16;
    text-transform: uppercase;
    color: #828282;
  }

  &__submit {
    width: 100%;
  }

  &__col {

    &:not(:last-child) {
      padding-bottom: 68px;
    }
  }

  &__change-password {
    display: flex;
    align-items: center;
    padding: 0;
    font-size: $font-size-12;
    line-height: $line-height-15;
    color: #BD944D;
    border: none;
    background: transparent;

    & span {
      text-decoration: underline;
    }

    & svg {
      margin-right: 10px;
    }
  }
}


@media screen and (max-width: 1280px) {

  .profile {

    &__menu-box {
      &::before {
        left: -41px;
      }
    }
  }
}


@media screen and (max-width: 991px) {

  .profile {

    &__username {
      height: 250px;
    }

    &__content {
      padding-bottom: 60px;
    }

    &__menu-box {
      width: calc(100% + 30px);
      margin-left: -15px;

      &::before {
        left: -15px;
      }
    }

    &__menu {
      padding: 0 15px;
      flex-wrap: nowrap;
      overflow-x: auto;
    }
  }
}


@media screen and (max-width: 767px) {

  .profile {

    &__username {
      height: 160px;
      padding: 22px 0 53px;
    }

    &__menu {
      &-item {

        &:not(:last-child) {
          padding-right: 10px;
        }

        &:not(:first-child) {
          padding-left: 10px;
        }
      }

      &-link {
        padding: 20px 0;
      }
    }

    &__content {
      padding-top: 40px;
      padding-bottom: 48px;
    }

    &__title {
      padding-bottom: 35px;
    }

    &__submit {
      margin-bottom: 60px;
    }

    &__col {

      &:not(:last-child) {
        padding-bottom: 48px;
      }
    }
  }
}