@import "variables";

.promocodes {

  &__item {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 16px;
    align-items: center;
    padding: 22px 0;
    border-bottom: 1px solid #E0E0E0;
  }

  &__title {
    font-size: $font-size-11;
    line-height: $line-height-15;
    color: #333333;
  }

  &__discount {
    text-transform: uppercase;
  }

  &__date {
    grid-template: -1/1;
  }

  &__date,
  &__btn,
  &__info {
    grid-template: -1/1;
    font-size: $font-size-12;
    line-height: $line-height-15;
    color: #828282;
  }

  &__wrapper {
    position: relative;
  }

  &__btn {
    padding: 0;
    background: transparent;
    border: none;
    transition: all 0.25s ease-in-out;
    visibility: visible;
    opacity: 1;

    &.us {
      visibility: hidden;
      opacity: 0;
    }
  }

  &__info {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    color: #BDBDBD;
    white-space: nowrap;
  }
}

@media screen and (min-width: 992px) {

  .promocodes {

    &__btn {
      &:hover {
        color: #333333;
      }
    }
  }
}