@import "variables";

.sign-social {
  padding-bottom: 30px;

  &__title {
    display: block;
    padding: 30px 0;
    font-size: $font-size-10;
    line-height: $line-height-14;
    text-transform: uppercase;
    color: #333333;
    border-top: 1px solid #E0E0E0;
  }

  &__link {
    margin: 0 15px 0 0;
  }

  &__img {
    width: 40px;
  }
}