{% load static %}
{% load i18n %}

<div class="modal-login">
    <div class="modal-login__wrapper">
        <button class="modal-login__close  modal_close  close-btn"></button>
        <div class="modal-login__content  d-md-flex">
            <div class="modal-login__container">
                <div class="modal-login__box">
                    <div class="modal-login__head  d-flex  justify-content-between  align-items-center">
                        <span class="modal-login__title  modal-login__title_recover">Восстановление пароля</span>
                        <div class="modal-login__title-box">
                            <span data-tab="login" class="modal-login__title  active">Вход</span>
                        </div>
                        <div class="modal-login__link-box">
                            <a href="login" class="modal-login__link  modal-login__tab-link">{% trans "Вход" %}</a>
                        </div>
                    </div>
                    <div class="modal-login__col-box">
                        <div class="modal-login__group">
                            <div data-tab="login" class="modal-login__col  active">
                                <div class="modal-login__extended">
                                    {% include 'auth/login_extended.html' %}
                                </div>
                            </div>
                        </div>
                        <div class="modal-login__col  modal-login__col_recover" id="passwordRestore" data-restore-pasw="{% url 'api-users:profile:account-restore' %}">
                            <p class="modal-login__info">{% trans "Укажите ник telegram, и мы отправим вам ссылку на восстановление пароля" %}</p>
                                <div class="custom_form-group last-group">
                                    <input name="telegram" id="id-recover-password-telegram" data-val="">
                                    <label class="custom_label" for="id-recover-password-telegram">"Ваш telegram"</label>
                                    <span class="error" id="id-error-recover-password"></span>
                                </div>
                                <button type="submit" name="login_fp" class="modal-login__btn  btn" id="id-recover-password-button"
                                >{% trans "Восстановить" %}
                                </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
