{% extends "natasha_base.html" %}
{% block content %}
    <div class="col d-flex justify-content-center">
        <div class="card width-to-media">
{#    {% load thumbnail %}#}
{#  {% thumbnail course_cover '960x960' crop='center' upscale=True as im %}#}
{#    <img class='card-img' src='{{ im.url }}' alt=course_name>#}
{#    {% endthumbnail %}#}
            <div class="card-header">
                <span>{{ course_name }}</span>
            </div>
            <div class="course-card-body">
                <span>{{ course_description }}</span>
            </div>
            <div class='row card-group'>
                {% for lesson in lessons %}
                    <div class="col-xl-4">
                    {% include "includes/lesson_card.html" %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}