{% extends "natasha_base.html" %}
{% block content %}
    <div class="col d-flex justify-content-center">
    <div class="col d-flex justify-content-left width-to-media">
        <div class="card text-center width-to-media">
        <div class="card-header light_green_background">
            <span class="big_text">{{ lesson.name }}</span>
        </div>
        <div class="card-body light_green_background">
            {% if lesson.video_url %}
                <div>{{ lesson.video_url|safe }}</div>
            {% endif %}
            {% for block in blocks %}
                {% include "includes/lesson_block_card.html" %}
            {% endfor %}
            {% if has_course %}
                <br><br>
                {% if has_next_lesson %}
                    <a href="{% url 'courses:single_lesson' next_lesson %}" class="green-grey-button">К СЛЕДУЮЩЕМУ УРОКУ</a>
                {% endif %}
        {% endif %}
        </div>
    </div>
    </div>
{% endblock %}
