{% extends "natasha_base.html" %}
{% block content %}
    <div class="col d-flex justify-content-center">
    <div class="col d-flex justify-content-left width-to-media">
        <div class="card text-center width-to-media">
        <div class="card-header">
            <span>{{ lesson.name }}</span>
        </div>
        <div class="card-body">
            <span>{{ lesson.description }}</span>
            {% if lesson.video_url %}
                <div>{{ lesson.video_url|safe }}</div>
            {% endif %}
            {% for block in blocks %}
                {% include "includes/lesson_block_card.html" %}
            {% endfor %}
            {% if has_course %}
                <a href="{% url 'courses:open_lesson' lesson.course_id lesson.id %}" class="green-grey-button">Пометить урок пройденным</a>
            {% endif %}
        </div>
    </div>
    </div>
{% endblock %}
