{% extends "natasha_base.html" %}
{% block content %}
    <div class="col d-flex justify-content-center">
    <div class="col d-flex justify-content-left width-to-media">
        <div class="card text-center width-to-media">
        <div class="card-header">
            <span>{{ lesson.name }}</span>
        </div>
        <div class="card-body">
            <span>{{ lesson.description }}</span>
            <div>{{ lesson.video_url|safe }}</div>
            {% for block in blocks %}
                {% include "includes/lesson_block_card.html" %}
            {% endfor %}
            <a href="{% url 'courses:open_lesson' lesson.course_id lesson.id %}" class="btn btn-primary">Пометить урок пройденным</a>
        </div>
    </div>
    </div>
{% endblock %}
