{% extends "natasha_base.html" %}
{% block content %}
    <div class="col d-flex justify-content-center">
        <div class="card width-to-media text-center light_green_background">
            <div class="card-header">
                <span>1 числа каждого месяца Вам начисляется 10 генераций в подарок</span>
            </div>
            <div class='col card-body'>
                {% if not user.is_authenticated %}
                <div class="col margin_from_top">
                    <span><b>Для оплаты бота или покупки курса нужно войти в аккаунт.</b></span>
                </div>
                {% endif %}
                <div class="col margin_from_top">
                    <span><b>Приобретайте дополнительные генерации ТОЛЬКО после окончания предыдущих</b></span><br>
                    <span>новые купленные генерации заменяют неизрасходованные</span>
                </div>
                <div class="col margin_from_top">
                    <span>200 генераций в месяц - 300 рублей</span>
                    <a class="green-grey-button" href="{% url 'orders:create' %}?term=day">Тариф 200</a>
                </div>
                <div class="col margin_from_top">
                    <span>1000 генераций в месяц - 1000 рублей</span>
                    <a class="green-grey-button" href="{% url 'orders:create' %}?term=month">Тариф 1000</a>
                </div>
                <div class="col margin_from_top">
                    <span>+1000 генераций в подарок</span>
                    <a href="{% url 'orders:create' %}?course_id=2" class="green-grey-button">НЕЙРОКУРС ДЛЯ НОВИЧКОВ</a>
                </div>
                <div class="col margin_from_top">
                    <span>+1000 генераций в подарок</span>
                    <a href="{% url 'orders:create' %}?course_id=3" class="green-grey-button">НЕЙРОКУРС.PRO</a>
                </div>
                {% for prolongation in prolongations %}
                    <div class="col margin_from_top">
                        <span>Продление курса {{ prolongation.course.name }}</span>
                        <a class="green-grey-button" href="{% url 'orders:create' %}?prolongation_id={{ prolongation.id }}">Продлить</a>
                    </div>
                {% endfor %}
                <div class="col margin_from_top">
                    <a href="{% url 'alternative_payments' %}">Карты РБ, Украины, США и PayPal</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}