<div class="change-password">
    <div class="change-password__wrapper">
        <button class="change-password__close  modal_close  close-btn"></button>
        <div class="change-password__content">
            <span class="change-password__title">Изменение пароля</span>
            <div class="updprof-error message-top" id="change-password-success" style="display: none; color: green">Пароль успешно обновлён</div>
            <div class="updprof-error" id="change-password-error" style="display: none; color: red"></div>
            <span class="error message-top" id="id-change-password-backend-error"></span>
            <form class="change-password__form  form" data-url="{% url "api-users:profile:change-password" %}">
                {% csrf_token %}
                <input type="hidden" name="nospam" value="">
                {% if not request.user.is_first_password %}
                    <div class="custom_form-group">
                        <input type="password" name="password_old" id="password_old" value=""
                               data-val="" placeholder="Старый пароль">
{#                        <label class="custom_label" for="password_old">Старый пароль</label>#}
                        <span class="error" id="passwordOldError"></span>
                    </div>
                {% endif %}
                <div class="custom_form-group">
                    <input type="password" name="password_new" id="password_new" value=""
                           data-val="" placeholder="Придумайте новый пароль">
{#                    <label class="custom_label" for="password_new">Придумайте новый пароль</label>#}
                    <span class="error" id="passwordNewError"></span>
                </div>
                <div class="custom_form-group last-group">
                    <input type="password" name="password_new_confirm" id="password_new_confirm"
                           value="" data-val="" placeholder="Повторите новый пароль">
{#                    <label class="custom_label" for="password_new_confirm">Повторите новый пароль</label>#}
                    <span class="error" id="passwordNewConfirmError"></span>
                </div>
                <button
                        id="id-change-password-bth"
                        type="submit" name="change-password" class="change-password__btn  btn"
                >Сохранить</button>
            </form>
        </div>
    </div>
</div>