{% extends 'natasha_base.html' %}
{% load static %}
{% load i18n %}
{% block title %}
    Данные аккаунта
{% endblock %}


{% block content %}
<div class="col d-flex justify-content-center">
    <div class="width-to-media">
        <div class="n-container">
            <div class="container-fluid">
                <div class="profile__username">
                    <div class="row">
                        <div class="col-12  right">
                            <a href="{% url 'auth:logout' %}" class="profile__logout" style="color: black;">Выход</a>
                        </div>
                        <div class="col-12">
                            <div class="profile__name" style="color: black;">Здравствуйте, {{ request.user.username }}!</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="text-align: center">
            БОТ
        </div>
        <br><br>
        <div class="row">
            <div class="col-3 text_in_center dark-green-background">
                {% if user.date_of_payment %}
                    <span class="black_text">
                        До:   {{ user.date_payment_expired }}
                    </span>
                {% else %}
                    <span class="black_text">
                        У вас еще не было оплат
                    </span>
                {% endif %}
            </div>
            <div class="col-3 text_in_center dark-green-background">
                    <span class="col-12 black_text">
                        Оставшиеся генерации:  {{ user.remain_messages }}
                    </span>
            </div>
            <div class="col-3">
            <a class="btn dark-green-background" href="{% url 'orders:create' %}?term=day">Оплатить 1 день</a>
            </div>
            <div class="col-3">
            <a class="btn dark-green-background" href="{% url 'orders:create' %}?term=month">Оплатить 1 месяц</a>
            </div>
        </div>
        <br><br>
        <div style="text-align: center">
            КУРСЫ
        </div>
        <br><br>
    </div>
</div>
{% endblock %}