@import "variables";

.burger {
  position: fixed;
  z-index: 299;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  height: calc(var(--vh,1vh)*100);
  width: 410px;
  padding: 0;
  background: #ffffff;
  transition: all .3s ease-in-out;
  transform: translate(-100%);

  &.active {
    transform: translate(0);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  }

  &__btn {
    padding: 0;
    background: 0 0;
    border: none;
    position: relative;
    top: -1px;
    left: -2.5px;

    &-box {
      position: relative;
    }

    &_search {
      display: flex;
      align-items: center;
      font-size: $font-size-11;
      line-height: $line-height-15;
      color: #000000;

      svg {
        margin-right: 10px;
      }
    }
  }

  &__head {
    &>*:not(:last-child) {
      position: relative;
      margin-right: 20px;
    }
  }

  &__scroll,
  &__submenu {
    height: calc(100vh - 120px);
    height: calc(var(--vh,1vh)*100 - 120px);
    overflow-y: auto;

    &::-webkit-scrollbar {
      position: absolute;
      max-width: 0;
      max-height: 0;
    }
  }

  &__wrapper {
    padding: 0 40px;
  }

  &__menu {
    &:not(:last-child) {
      padding-bottom: 68px;
    }

    &-item {

      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }

    &-link  {
      padding: 0;
      font-size: $font-size-11;
      line-height: $line-height-16;
      text-transform: uppercase;
      color: #333333;
      border: none;
      background-color: transparent;
    }
  }

  &__submenu {
    position: fixed;
    top: 88px;
    left: 0;
    z-index: 1;
    width: 100%;
    padding-right: 40px;
    padding-left: 40px;
    background: #ffffff;

    &-close {
      padding: 0;
      margin: 0 0 18px;
      background: transparent;
      border: none;

      &::before {
        content: "";
        position: relative;
        top: -1px;
        left: 2px;
        display: inline-block;
        width: 7px;
        height: 7px;
        margin-right: 10px;
        border-top: 1px solid #000000;
        border-left: 1px solid #000000;
        transform: rotate(-45deg);
        transition: all 0.25s ease-in-out;
      }

      &:hover {
        &::before {
          left: -1px;
        }
      }
    }

    &-close,
    &-title {
      font-size: $font-size-11;
      line-height: $line-height-16;
      font-weight: 700;
      text-transform: uppercase;
      color: #333333;
    }
  }
}


@media screen and (min-width: 992px) {

  .burger {

    &__row {
      margin: 32px 40px 64px;
    }

    &__scroll,
    &__submenu {
      padding-bottom: 48px;
    }

    &__scroll {
      display: flex;
      flex-direction: column;
    }

    &__wrapper {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
    }

    &__menu {
      &_last {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
      }
    }

    &__menu-item {
      &_lexicon {
        margin-top: auto;
        margin-bottom: 0;
      }
    }

    &__submenu {
      top: 120px;
    }
  }
}


@media screen and (max-width: 991px) {

  .burger {
    width: 100%;
    padding-top: 50px;

    &.active+.header_light .count-good {
      color: #000000;
    }

    &.active+.header_light svg * {
      fill: #000000;
    }

    &__head {
      display: flex;
      align-items: center;
      padding: 13px 16px;
      border-top: 1px solid #E0E0E0;
    }

    &__scroll,
    &__submenu {
      height: calc(100vh - 50px);
      height: calc(var(--vh,1vh)*100 - 50px);
      padding-top: 40px;
    }

    &__submenu {
      padding-bottom: 64px;
    }

    &__wrapper {
      display: flex;
      flex-direction: column;
      height: 100%;
      padding: 0 34px;
    }

    &__menu {
      &:not(:last-child) {
        padding-bottom: 62px;
      }

      &_last {
        margin-top: auto;
        padding-bottom: 64px;
      }
    }

    &__submenu {
      top: 50px;
      padding-left: 34px;
      padding-right: 34px;

      &-close {
        &:hover {
          &::before {
            left: 2px;
          }
        }
      }
    }
  }
}


@media screen and (max-width: 767px) {

  .burger {

    &__wrapper {
      padding: 0 16px;
    }

    &__submenu {
      padding-left: 16px;
      padding-right: 16px;
    }
  }
}