.has-topBar {

  .block-blur {
    min-height: calc(100vh - 116px);
    min-height: calc(var(--vh,1vh)*100 - 116px);
  }

  .header {
    top: 30px;

    &.fixed {
      top: 0;
    }
  }

  .home-main__link {
    height: calc(var(--vh_h,1vh)*100 - 30px);
  }
}

@media screen and (max-width: 991px) {

  .has-topBar {

    .header {
      &.slideDown {
        transform: translateY(-80px);
      }
    }

    .block-blur {
      min-height: calc(100vh - 80px);
      min-height: calc(var(--vh,1vh)*100 - 80px);
    }

    &.show-topBar {
      .burger {
        padding-top: 80px;
      }

      .search {
        top: 30px;
      }
    }
  }
}
