@import "variables";

.lexicon-modal {
  display: none;
  padding: 0 40px 68px;

  &__group {
    text-align: center;

    &:not(:last-child) {
      margin-bottom: 22px;
    }
  }

  &__title {
    font-size: $font-size-12;
    line-height: $line-height-15;
    color: #828282;
  }

  &__row {
    display: flex;
    margin-top: 6px;
  }

  &__col {
    flex-grow: 1;
    padding: 12px;
    font-size: $font-size-11;
    line-height: $line-height-15;
    text-transform: uppercase;
    color: #4F4F4F;
    transition: all 0.3s ease-in-out;
    box-shadow: inset 0 -1px 0 0 #E0E0E0;
    background: transparent;
    border: none;

    &.active {
      color: #333333;
      box-shadow: inset 0 -2px 0 0 #4F4F4F;
    }

    .euro {
      font-family: Arial, sans-serif;
    }
  }
}


@media screen and (max-width: 991px) {

  .lexicon-modal {
    padding-left: 34px;
    padding-right: 34px;
    margin-top: -10px;
  }
}


@media screen and (max-width: 767px) {

  .lexicon-modal {
    padding-left: 16px;
    padding-right: 16px;
  }
}