@import "variables";

.orders {

  &__tr {
    display: grid;
    grid-template-columns: 115px 200px 274px 1fr 116px;
    grid-template-areas: 'order date products status us';
    align-items: start;
    border-bottom: 1px solid #E0E0E0;
  }

  &__td {
    padding: 20px 0;

    &_number {
      grid-area: order;
      padding-right: 14px;
      font-size: $font-size-12;
      line-height: $line-height-16;
      text-transform: uppercase;
      color: #333333;
    }

    &_date,
    &_status {
      padding-top: 22px;
      padding-right: 40px;
      font-size: $font-size-12;
      line-height: $line-height-15;
      color: #828282;
    }

    &_date {
      grid-area: date;
    }

    &_status {
      grid-area: status;
      padding-left: 30px;
      padding-bottom: 0;
      padding-top: 31px;
    }

    &_products {
      grid-area: products;
      overflow-x: hidden;
    }

    &_details {
      grid-area: us;
    }
  }

  &__status {
    &.cancel {
      color: #D60A25;
    }
  }

  &__tracking {
    padding-top: 7px;
  }

  &__details {
    width: 100%;
    padding: 10px 15px;
    font-size: $font-size-10;
    line-height: $line-height-14;
    text-transform: uppercase;
    color: #333333;
    background: transparent;
    border: 1px solid #333333;
  }

  &__products {
    position: relative;
    width: 86px;
    min-width: 86px;
    height: 86px;
    overflow: hidden;

    &:not(:first-child) {
      margin-left: 4px;
    }

    &:not(:last-child) {
      margin-right: 4px;
    }

    &.last {
      & .orders__other {
        display: flex;
      }
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__other {
    display: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9));
    z-index: 2;

    &-text {
      font-size: $font-size-12;
      line-height: $line-height-15;
      text-align: center;
      color: #4F4F4F;
    }

    &-count {
      padding-right: 5px;
    }
  }
}

.order {
  width: 100%;
  max-width: 100%;

  &__close {
    padding: 0;
    font-size: $font-size-12;
    line-height: $line-height-16;
    text-transform: uppercase;
    color: #828282;
    background: transparent;
    border: 0;
    cursor: pointer;

    &::before {
      content: "";
      position: relative;
      top: -1px;
      display: inline-block;
      vertical-align: middle;
      width: 6px;
      height: 6px;
      border-top: 1px solid #828282;
      border-right: 1px solid #828282;
      margin-right: 6px;
      transform: rotate(-135deg);
    }
  }

  &__head {
    padding: 40px 0 10px;
  }

  &__title {
    padding: 0 15px 0 0;
  }

  &__date {
    font-size: $font-size-12;
    line-height: $line-height-16;
    text-transform: uppercase;
    color: #828282;
  }

  &__tr {
    display: grid;
    grid-template-columns: 115px 55% auto;
    grid-template-areas: 'product-img product-title .'
                         'product-img product-group product-price';
    align-items: start;
    border-bottom: 1px solid #e0e0e0;
  }

  &__td {
    padding: 20px 0;

    &_img {
      grid-area: product-img;
    }

    &_title {
      grid-area: product-title;
    }

    &_group {
      grid-area: product-group;
      padding-top: 10px;
      display: grid;
      grid-template-columns: 0.65fr 1fr auto;
      grid-template-areas: 'size color status';

      & > *:not(:last-child) {
        padding-right: 15px;
      }

      & * {
        font-size: $font-size-12;
        line-height: $line-height-15;
        color: #828282;
      }
    }

    &_price {
      grid-area: product-price;
      padding-top: 7px;
      padding-left: 25px;
      font-size: $font-size-12;
      line-height: $line-height-16;
      text-transform: uppercase;
      color: #333333;
      text-align: right;
    }
  }

  &__products {
    display: block;
    width: 85px;
    height: 85px;
  }

  &__name {
    font-size: $font-size-12;
    line-height: $line-height-16;
    text-transform: uppercase;
    color: #333333;
  }

  &__color {
    grid-area: color;

    &-name {
      padding-left: 5px;
    }

    &-val {
      width: 14px;
      height: 14px;
      margin-left: 8px;
      border-radius: 50%;
    }
  }

  &__info-box {
    width: 100%;
    max-width: 345px;
    margin-left: 85px;
    margin-top: 20px;
  }

  &__info {
    font-size: $font-size-12;
    line-height: $line-height-15;
    width: 100%;
    padding: 30px;
    border: 1px solid #E0E0E0;
  }

  &__tracking-link {
    color: #BD944D;
    border-bottom: 1px solid #BD944D;
  }
}


@media screen and (max-width: 1280px) {

  .order {

    &__tr {
      grid-template-columns: 100px 60% auto;
    }

    &__info-box {
      max-width: 300px;
      margin-left: 60px;
    }
  }
}


@media screen and (max-width: 991px) {

  .orders {

    &__tr {
      align-items: center;
      grid-template-columns: 115px 200px 1fr 116px;
      grid-template-areas: 'order date status us'
                           'products products products products';
    }

    &__td {

      &_number,
      &_status {
        padding-right: 20px;
      }

      &_status {
        padding-left: 0;
        padding-top: 20px;
        padding-bottom: 20px;
      }

      &_products {
        margin-right: 0;
        padding-top: 0;
      }
    }

    &__tracking {
      padding-top: 5px;
    }

    &__products {

      &:not(:first-child) {
        margin-left: 7.5px;
      }

      &:not(:last-child) {
        margin-right: 7.5px;
      }
    }
  }

  .order {

    &__tr {
      grid-template-columns: 115px 60% auto;
    }

    &__info-box {
      max-width: 100%;
      margin-left: 0;
      margin-top: 30px;
    }
  }
}


@media screen and (min-width: 768px) and (max-width: 991px) {

  .order {

    &__info {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
  }
}


@media screen and (max-width: 767px) {

  .orders {

    &__tr {
      grid-template-columns: 115px auto minmax(100px, 166px);
      grid-template-areas: 'order date date'
                             'products products products'
                             'status status us';
    }

    &__td {
      padding-top: 15px;
      padding-bottom: 15px;

      &_number,
      &_status {
        padding-top: 13px;
        padding-bottom: 11px;
      }

      &_status {
        &.right {
          text-align: left;
        }
      }

      &_date {
        padding-right: 0;
      }

      &_products {
        padding-top: 0;
        padding-bottom: 0;
      }
    }

    &__products {
      width: 80px;
      min-width: 80px;
      height: 80px;

      &:not(:first-child) {
        margin-left: 4px;
      }

      &:not(:last-child) {
        margin-right: 4px;
      }
    }
  }

  .order {

    &__head {
      padding: 30px 0 0;
    }

    &__tr {
      grid-template-columns: 88px auto auto;
      grid-template-areas: 'product-img product-title product-title'
                             'product-group product-group product-price';
    }

    &__td {
      &_title {
        display: flex;
        align-items: center;
        height: 100%;
      }
    }

    &__products {
      width: 74px;
      height: 74px;
    }

    &__info {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}


@media screen and (max-width: 400px) {

  .order {

    &__tr {
      grid-template-areas:
            'product-img product-title product-title'
            'product-group product-group product-group'
            'product-price product-price product-price';
    }

    &__td {

      &_price {
        padding-left: 0;
        padding-top: 0;
        text-align: left;
      }
    }
  }
}