@import "variables";

.search-help-enter-active,
.search-help-leave-active {
  transition: opacity 0.2s;
}
.search-help-enter,
.search-help-leave-to {
  opacity: 0;
}

.search {
  position: fixed;
  top: 0;
  right: 0;
  width: 410px;
  height: 100vh;
  height: calc(var(--vh,1vh)*100);
  padding: 35px 41px;
  background: $white;
  overflow-y: auto;
  transition: transform 0.3s ease-in-out;
  z-index: 2000;
  transform: translate(100%);

  &.active {
    transform: translate(0);
  }

  &__close-btn {
    padding: 0;
    border: none;
    background: transparent;
    float: right;
  }

  &__form {
    margin-top: 140px;
  }

  &__title {
    margin-bottom: 36px;
    font-size: $font-size-12;
    line-height: $line-height-16;
    text-transform: uppercase;
    color: #000000;
  }

  &__input {
    &.custom_input {
      width: 100%;
      color: #000000;
      border-bottom: 1px solid #000000;
    }

    &::-webkit-input-placeholder {
      color: #4F4F4F;
      -webkit-text-fill-color: #4F4F4F; }

    &:-moz-placeholder {
      color: #4F4F4F; }

    &::-ms-input-placeholder {
      color: #4F4F4F; }

    &::placeholder {
      color: #4F4F4F; }

    &[data-val='']+.search__submit {
      visibility: hidden;
      opacity: 0;
    }
  }

  &__submit {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 0 0 15px;
    background: transparent;
    border: none;
    visibility: visible;
    opacity: 1;
    transition: all 0.3s ease-in-out;
    z-index: 100;

    img {
      margin-bottom: 0;
      margin-top: -4px;
    }
  }

  &__popular {
    margin-top: 60px;
  }

  &__subtitle {
    font-size: $font-size-11;
    line-height: $line-height-15;
    text-transform: uppercase;
    color: #333333;
  }

  &__list {
    margin-top: 20px;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__link {
    font-size: $font-size-12;
    line-height: $line-height-15;
    color: #333333;
  }

  &__result {
    margin-top: -8px;

    &-title {
      font-size: $font-size-11;
      line-height: $line-height-15;
      text-transform: uppercase;
      color: #333333;
    }

    &-list {
      padding-top: 20px;
      margin-bottom: 40px;
    }

    &-item {

      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }

    &-card {
      display: flex;
      align-items: center;
    }

    &-cover {
      flex-shrink: 0;
      width: 60px;
      height: 60px;
      margin-right: 19px;
    }

    &-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    &-name {
      margin: 0;
      font-size: $font-size-10;
      line-height: $line-height-14;
      text-transform: uppercase;
      color: #000000;
    }

    &-link {
      width: 165px;
      margin: 0 auto;
      color: #000000;
      border-color: #E0E0E0;
      transition: all 0.3s ease-in-out;

      &:hover {
        border-color: #828282;
      }
    }
  }

  &__category {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;

    &-title {
      padding-bottom: 20px;
      font-size: $font-size-11;
      line-height: $line-height-15;
      text-transform: uppercase;
      color: #333333;
    }

    &-value {
      font-size: $font-size-12;
      line-height: $line-height-15;
      color: #333333;
    }
  }

  &__help {
    position: relative;
    z-index: 10;
    height: auto;
    width: 100%;

    &-list {
      position: absolute;
      top: -12px;
      left: 0;
      width: 100%;
      max-height: 200px;
      padding: 8px 0;
      background: #ffffff;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
      overflow-y: auto;

      &::-webkit-scrollbar {
        position: absolute;
        max-width: 0px;
        max-height: 0;
      }
    }

    &-item {
      padding: 8px 16px;
      background: transparent;
      transition: all 0.3s ease-in-out;
      cursor: pointer;

      &:hover,
      &.selected {
        background: #F5F4F4;
      }
    }
  }
}


@media screen and (max-width: 991px) {

  .search {
    display: flex;
    top: 0;
    right: 0;
    width: 100%;
    height: 60px;
    padding: 0;
    border-bottom: 1px solid #E0E0E0;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    transform: translate(0);
    overflow-y: visible;

    &.active {
      visibility: visible;
      opacity: 1;
    }

    &__close-btn {
      padding: 0 32px;
    }

    &__form {
      margin-top: 0;
      flex-grow: 1;

      .custom_form-group {
        margin: 0;
        height: 100%;
      }
    }

    &__input {
      &.custom_input {
        height: 100%;
        padding: 10px 62px 14px 0;
        border-bottom: none;
        margin: 0;
      }
    }

    &__submit {
      padding-right: 34px;

      img {
        margin-top: 0;
      }
    }

    &__popular,
    &__result {
      position: fixed;
      top: 60px;
      left: 0;
      right: 0;
      width: 100%;
      height: calc(100vh - 60px);
      height: calc(var(--vh,1vh)*100 - 60px);
      margin-top: 0;
      padding: 15px 34px 33px;
      background: $white;
      overflow-y: auto;
    }

    &__help {
      &_fixed {
        position: fixed;
        top: 68px;
        left: 10px;
        width: calc(100% - 20px);
        z-index: 1;

        .search__help-list {
          position: static;
        }
      }
    }

    &__result {

      &-list {
        margin-bottom: 30px;
      }

      &-item {
        &:not(:last-child) {
          margin-bottom: 15px;
        }
      }

      &-cover {
        margin-right: 10px;
      }

      &-link {
        &:hover {
          border-color: #E0E0E0;
        }
      }
    }

    &__category {
      margin-bottom: 30px;

      &-title {
        padding-bottom: 13px;
        color: #4F4F4F;
      }

      &-value {
        color: #828282;
      }
    }
  }
}


@media screen and (max-width: 767px) {

  .search {

    &__close-btn {
      padding: 0 10px 0 16px;
    }

    &__popular,
    &__result {
      padding-left: 22px;
      padding-right: 22px;
    }

    &__submit {
      padding-right: 23px;
    }
  }
}