@import "variables";

.subscribe {
  display: flex;
  flex-wrap: wrap;
  padding-top: 18px;

  &__title {
    padding-top: 12px;
    font-size: $font-size-10;
    line-height: $line-height-14;
    text-transform: uppercase;
    margin-right: 18px;
    color: #000000;
  }

  &__form {
    position: relative;
    width: 300px;
    flex-shrink: 0;
  }

  &__submit {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 42px;
    width: 30px;
    padding: 0;
    background: transparent;
    border: none;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;

    &.active {
      opacity: 1;
      visibility: visible;
    }

    svg {
      margin-top: -4px;
    }
  }

  .custom_input {
    margin: 0;
    padding-right: 35px;
    font-size: $font-size-10;
    line-height: $line-height-14;
    text-transform: uppercase;
    border-color: #000000;
  }

  ::-webkit-input-placeholder {
    text-transform: initial; }

  :-moz-placeholder {
    text-transform: initial; }

  ::-ms-input-placeholder {
    text-transform: initial; }

  ::placeholder {
    text-transform: initial; }

  &__policy {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;

    &.active {
      opacity: 1;
      visibility: visible;
    }

    &.policy_links {
      position: absolute;
      top: 43px;
      padding-top: 0;
      font-size: $font-size-8;
      line-height: $line-height-12;
    }
  }
}


@media screen and (max-width: 991px) {

  .subscribe {
    padding: 74px 0 38px;
    grid-column-start: 1;
    grid-column-end: 3;


    &__title {
      width: 100%;
      padding-top: 0;
      margin-right: 0;
      margin-bottom: 14px;
    }
  }
}


@media screen and (max-width: 767px) {

  .subscribe {

    &__form {
      width: 210px;
    }

    &__policy {

      &.policy_links {
        top: 46px;
      }
    }
  }
}