$white: #fff;
$black: #000;
$gold: #BD944D;

$font-size-8: 8px;
$font-size-9: 9px;
$font-size-10: 10px;
$font-size-11: 11px;
$font-size-12: 12px;
$font-size-14: 14px;
$font-size-20: 20px;

$line-height-12: 12px;
$line-height-13: 13px;
$line-height-14: 14px;
$line-height-15: 15px;
$line-height-16: 16px;
$line-height-18: 18px;

$border-radius: 2px;
