{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang=RU>
    <head>
        <title>
            {% block title %}
                "Сайт оплат доступа"
            {% endblock %}
        </title>
        {% block head %}
        {% endblock %}
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta
            content="width=device-width,maximum-scale=1,initial-scale=1,user-scalable=0"
            name="viewport"
        />
        <meta name="theme-color" content="#000000" />
        {% include 'includes/styles.html' %}
    </head>
    <body class="home-body {% if display_form %}display_form{% endif %} {% if top_bar_settings.is_active %}has-topBar show-topBar{% endif %}">
        {% include 'includes/header.html' %}
        {% if not request.user.is_authenticated %}
        {% include 'includes/auth.html' %}
        {% endif %}
            {% block content %}
            {% endblock %}
            <!-- footer section -->
        {% include 'includes/scripts.html' %}

        {% block extrajs %}
        {% endblock %}
    </body>
</html>
