{% extends 'natasha_base.html' %}
{% load static %}
{% block title %}
    "Сайт оплат доступа"
{% endblock %}

{% block content %}
    {% if not is_mobile %}
<div id="allrecords" class="t-records tsort" data-hook="blocks-collection-content-node" data-blocks-animationoff="yes" data-tilda-mode="edit" style="position: relative;">
    <div class="record" off="" data-record-type="396" data-record-category="12" data-record-cod="T396" style="cursor: auto;">
        <div id="rec644135072" class="r" style=" " data-animationappear="off">
            <div class="t396 t396_safari">
	            <div class="rendered" data-artboard-recid="644135072" data-artboard-screens="320,480,640,960,1200" data-artboard-height="4550" data-artboard-valign="center" data-artboard-upscale="window" data-artboard-height-res-320="2208" data-artboard-height-res-480="2628" data-artboard-height-res-640="4303" data-artboard-height-res-960="4583.5" data-artboard-proxy-min-offset-top="0" data-artboard-proxy-min-height="4550" data-artboard-proxy-max-height="4550">
                    <div class="text_draw" data-elem-id="1666458108509" data-elem-type="text">
                        <div class="tn-atom" style="line-height: 70px;">РИСОВАТЬ НЕЙРОСЕТЬЮ</div>
                    </div>
                    <div class="text_unlim" data-elem-id="1687352227187" data-elem-type="text">
                        <div class="tn-atom" style="line-height: 39px;">Безлимитная подписка midjourney</div>
                    </div>
                    <div class="text_cheaper" data-elem-id="1687347652897" data-elem-type="text">
                        <div class="tn-atom" style="line-height: 31px;">ДеШЕВЛЕ. ПРОЩЕ. БЫСТРЕЕ</div>
                    </div>
                    <div class="bot1" data-elem-id="1695577561793" data-elem-type="image">
                        <div class="tn-atom">
                            <img class="tn-atom__img" src="{% static 'img/bot1.png' %}" alt=""  id="tuwidget535965" style="opacity: 1; width: 260px;">
                            <input type="file" class="tu-hidden-input" accept="image/*" style="visibility: hidden; position: absolute; top: 0px; left: 0px; height: 0px; width: 0px;">
                        </div>
                    </div>
                    <div class="bot1_text" data-elem-id="1687349151001" data-elem-type="button">
                        <div class="tn-atom" style="line-height: 31px;">Проще всего заработать на фотобанках - продавать картинки, созданные в нейросети.</div>
                    </div>
                    <div class="bot2_text" data-elem-id="1687349398496" data-elem-type="button">
                        <div class="tn-atom" style="line-height: 31px;">Подписка для безлимитных инкогнито генераций в Midjourney стоит 60$ в месяц, это больше 5500р.</div>
                    </div>
                    <div class="bot2" data-elem-id="1695577579296" data-elem-type="image">
                        <div class="tn-atom">
                            <img class="tn-atom__img" src="{% static 'img/bot2.png' %}" alt="" id="tuwidget744874" style="width: 260px;">
							<input type="file" class="tu-hidden-input" accept="image/*" style="visibility: hidden; position: absolute; top: 0px; left: 0px; height: 0px; width: 0px;">
                        </div>
                    </div>
                    <div class="bot3" data-elem-id="1687349810853" data-elem-type="image">
                        <div class="tn-atom">
                            <img class="tn-atom__img" src="{% static 'img/bot3.png' %}" alt="" id="tuwidget533593" style="opacity: 1; width: 260px;">
							<input type="file" class="tu-hidden-input" accept="image/*" style="visibility: hidden; position: absolute; top: 0px; left: 0px; height: 0px; width: 0px;">
                        </div>
                    </div>
                    <div class="bot3_text" data-elem-id="1687349835113" data-elem-type="button">
                        <div class="tn-atom" style="line-height: 31px;">Здесь не нужны дорогостоящие камеры, иностранные карты. Только телефон/компьютер и Telegram-bot</div>
                    </div>
                    <div class="text_you_get" data-elem-id="1687348015840" data-elem-type="text">
                        <div class="tn-atom" style="line-height: 31px;">Через чат-бот вы получите:</div>
                    </div>
                    <div class="row button_1 button_with_circle">
                        <span class="green_circle">1</span><p class="text_in_button">10 бесплатных тестовых генераций <br> </p>
                    </div>
                    <div class="row button_2 button_with_circle">
                        <span class="green_circle">2</span><p class="text_in_button">Неограниченное количество генераций <br> после оплаты подписки</p>
                    </div>
                    <div class="row button_3 button_with_circle">
                        <span class="green_circle">3</span><p class="text_in_button">Индивидуальность, никто не будет <br> видеть ваши генерации</p>
                    </div>
                    <div class="row button_4 button_with_circle">
                        <span class="green_circle">4</span><p class="text_in_button">Возможность оплатить только <br> необходимое время подписки</p>
                    </div>
                    <div class="row button_5 button_with_circle">
                        <span class="green_circle">5</span><p class="text_in_button">Боту можно писать запросы на русском языке <br> </p>
                    </div>
                    <div class="tarifs" data-elem-id="1693861842329" data-elem-type="text">
                        <div class="tn-atom" style="line-height: 31px;">ТАРИФЫ:</div>
                    </div>
                    <div class="prices" data-elem-id="1693861890577" data-elem-type="text">
                        <div class="tn-atom" style="line-height: 31px;">300р - 1 день безлимитных генераций<br>1490р - 1 месяц безлимитных генераций</div>
                    </div>
                    <div class="arrow" data-elem-id="1687356336262" data-elem-type="image">
                        <div class="tn-atom">
                            <img class="tn-atom__img" src="https://static.tildacdn.com/tild3463-3062-4339-a566-626465636666/_1.png" alt="" id="tuwidget751151" style="width: 260px;">
							<input type="file" class="tu-hidden-input" accept="image/*" style="visibility: hidden; position: absolute; top: 0px; left: 0px; height: 0px; width: 0px;">
                        </div>
                    </div>
                    <div class="green_button green_button_pos">
                        ПОПРОБОВАТЬ БЕСПЛАТНО
                    </div>
                    <div class="they_sell" data-elem-id="1687347750777" data-elem-type="text">
                        <div class="tn-atom" style="line-height: 39px;">РАБОТЫ, СОЗДАННЫЕ В НЕЙРОСЕТИ, ПРОДАЮТСЯ!</div>
                    </div>
                    <div class="everyday" data-elem-id="1695576464723" data-elem-type="text">
                        <div class="tn-atom" style="line-height: 54px;">ежедневно!</div>
                    </div>
                    <div class="sold_pictures" data-elem-id="1695576430676" data-elem-type="image">
                        <div class="tn-atom">
                            <img class="tn-atom__img" src="https://static.tildacdn.com/tild6638-6438-4261-b236-643533623135/_.jpg" alt="" id="tuwidget350606">
							<input type="file" class="tu-hidden-input" accept="image/*" style="visibility: hidden; position: absolute; top: 0px; left: 0px; height: 0px; width: 0px;">
                        </div>
                    </div>
                    <div class="green_button green_button_fin">
                        ПЕРЕЙТИ В БОТ
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    {% else %}
    <div class="col">
        <div class="col-12">
            <a href="{% url 'courses:full_list' %}" class="green-grey-button margin_from_top">К списку курсов</a>
        </div>
        <div class="col-12">
            <a class="green-grey-button margin_from_top" href="{% url 'orders:create' %}?term=day">Оплатить 1 день</a>
        </div>
        <div class="col-12">
            <a class="green-grey-button margin_from_top" href="{% url 'orders:create' %}?term=month">Оплатить 1 месяц</a>
        </div>
        <div class="col-12">
            <a href="https://t.me/ToMidjourneyBot" class="green-grey-button margin_from_top">Перейти в бот</a>
        </div>
    </div>
    {% endif %}
{% endblock %}
