{% extends 'base.html' %}
{% load i18n %}

{% block title %}
{% trans 'Восстановление пароля' %} {{ block.super }}
{% endblock %}

{% block content %}
<div class="n-container" id="passwordRestore" data-restore-pasw="{% url 'api-users:profile:account-restore' %}">
    <div class="n-container-simple">
        <div class="container-fluid">
            <div class="breadcrumbs d-none d-sm-block">
                <ol class="breadcrumb" itemscope="" itemtype="http://schema.org/BreadcrumbList">
                    <li class="breadcrumb__item" itemprop="itemListElement" itemscope=""
                        itemtype="http://schema.org/ListItem"><a class="breadcrumb__link" itemprop="item" href="/"><span
                        itemprop="name">Домой</span></a>
                        <meta itemprop="position" content="1">
                    </li>
                    <li class="breadcrumb__item" itemprop="itemListElement" itemscope=""
                        itemtype="http://schema.org/ListItem"><a class="breadcrumb__link" itemprop="item" href="{% url 'auth:login' %}"><span itemprop="name">{% trans "Авторизация" %}</span></a>
                        <meta itemprop="position" content="2">
                    </li>
                </ol>
            </div>
            <div class="mh">
                <h1 class="center">{% trans "Восстановление пароля" %}</h1>
                <div class="row justify-content-center">
                    <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                        <div style="color:green" id="restorePasswordSuccess"></div>
                        <div class="loginFPErrors" style="color:red"></div>
                        <div class="loginFPForm form login_other form-size">
                            <input type="text" name="username" value="" placeholder="{% trans 'Эл. почта' %}" id="emailForRestore">
                            <input type="hidden" name="login_fp_service" value="forgotpassword">
                            <div class="center" style="padding-bottom:30px;">
                                <input type="submit" id="restorePasswordSubmit" name="login_fp" class="btn" value="{% trans 'Сбросить пароль' %}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}